<app-header></app-header>
<!-- Navbar + body -->
<div class="row" [style.height]="'100vh'" [style.width]="'100%'">
    <nav class="navbar col-md-3 col-lg-2 d-md-block sidebar collapse">
        <div class="position-sticky pt-3">
            <app-navbar></app-navbar>
        </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <dx-scroll-view>
            <router-outlet></router-outlet>
        </dx-scroll-view>
    </main>
</div>
<app-footer *ngIf="isFooterVisible"></app-footer>

<!-- <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                        Program Listings
                    </a>
                </li>
            </ul> -->