.detail {
  margin-top: 30px;
}
.program {
  width: 100%;
}
.options {
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 260px;
  top: 0;
  background-color: rgba(191, 191, 191, 0.15);
}
.divider {
  width: 17px;
  height: auto;
  display: inline-block;
}
.form {
  border-style: groove;
  margin: 0 200px 200px 200px;
  width: 60%;
  height: 110vh;
  /* padding: 30px 30px 35px 20px; */
}
.dx-field {
  margin-top: 12px;
}
.formSize {
  width: 800px;
  height: 600px;
  margin-left: 15px;
}
.addOffering {
  border-bottom: solid;
}
.buttons-column {
  width: 70%;
  margin-left: 150px;
}
.skill {
  margin-top: 20px;
  margin-left: 15px;
}
.skill-field-value {
  display: flex;
}

.program-offering {
  margin-top: 100px;
}
