<div class="program">
    <div class="form">
        <div class="dx-field" style="display: flex;">
            <div class="dx-field-label">Program name</div>
            <div class="dx-field-value">
                <dx-text-box value="John Smith"></dx-text-box>
            </div>
        </div>
        <div class="dx-field" style="display: flex;">
            <div class="dx-field-label">Program type</div>
            <div class="dx-field-value">
                <dx-select-box [items]="simpleProducts"></dx-select-box>
            </div>
        </div>
        <div>
            <div class="dx-field" style="display: flex;">
                <div class="dx-field-label">About this program</div>
                <dx-text-area class="dx-field-value" [height]="90" [(value)]="valueForEditableTextArea"
                    [valueChangeEvent]="eventValue">
                </dx-text-area>
                <br>
            </div>
        </div>
        <div class="dx-field" style="display: flex;">
            <div class="dx-field-label">Organization name</div>
            <div class="dx-field-value">
                <dx-select-box [items]="simpleProducts"></dx-select-box>
            </div>
        </div>
        <div class="dx-field" style="display: flex; ">
            <div class="dx-field-label">Website</div>
            <div class="dx-field-value">
                <dx-text-box value="John Smith"></dx-text-box>
            </div>
        </div>
        <div class="dx-field" style="display: flex;">
            <div class="dx-field-label">Program level</div>
            <div class="dx-field-value">
                <dx-select-box [items]="simpleProducts"></dx-select-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Default mode</div>
            <div class="dx-field-value">
                <dx-range-slider [min]="0" [max]="100" [start]="20" [end]="60"></dx-range-slider>
            </div>
        </div>
        <div class="dx-field" style="display: flex;">
            <div class="dx-field-label">Carrer pathway</div>
            <div class="dx-field-value">
                <dx-select-box [items]="simpleProducts"></dx-select-box>
            </div>
        </div>
        <div class="dx-field" style="display: flex">
            <div class="dx-field-label">Program length</div>
            <div class="dx-field-value" style="display: flex">
                <dx-text-box mask=""></dx-text-box>
                <div class="divider"></div>
                <dx-select-box placeholder="Choose Product" [showClearButton]="true">
                </dx-select-box>

            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Learning methods</div>
            <div class="dx-field-value">
                <dx-radio-group [items]="priorities" [value]="priorities[0]" layout="horizontal">
                </dx-radio-group>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label"></div>
            <div class="dx-field-value">
                <dx-text-box placeholder="Streets address"></dx-text-box>
            </div>

            <div class="dx-field-value" style="display: flex; margin-top: 12px;">
                <dx-text-box placeholder="City"></dx-text-box>
                <div class="divider"></div>
                <dx-text-box placeholder="State"></dx-text-box>
                <div class="divider"></div>
                <dx-text-box placeholder="Zip code"></dx-text-box>
            </div>

            <div class="dx-field">
                <div class="dx-field-label">Add skill</div>
                <div class="dx-field-value" style="display: flex">
                    <dx-text-box mask=""></dx-text-box>
                    <div class="divider"></div>
                    <dx-select-box placeholder="Choose Product" [showClearButton]="true">
                    </dx-select-box>
                    <div class="divider"></div>
                    <dx-button stylingMode="contained" text="Cancel" type="success" [width]="120"
                        (onClick)="click($event)">
                    </dx-button>
                </div>
            </div>
            <h1>Add Offering</h1>
            <dx-button icon="add" text="add" class="button-info">
            </dx-button>
        </div>
    </div>
    <div class="buttons-column" style="margin: 20px 20px 20px 20px">
        <div style="float: left;">
            <dx-button stylingMode="contained" text="Cancel" type="normal" [width]="120" (onClick)="click($event)">
            </dx-button>
        </div>

        <div style="float: right;">
            <dx-button stylingMode="contained" text="Preview" type="normal" [width]="120" (onClick)="click($event)">
            </dx-button>
            <div class="divider"></div>
            <dx-button stylingMode="contained" text="Save for later" type="normal" [width]="120"
                (onClick)="click($event)">
            </dx-button>
            <div class="divider"></div>
            <dx-button stylingMode="contained" text="Published" type="success" [width]="120" (onClick)="click($event)">
            </dx-button>
        </div>

    </div>


</div>