<div class="detail">
    <a class="nav-item nav-link" [routerLink]="['/programs']" routerLinkActive="active"><i
            class="dx-icon-chevronprev"></i>Back to programs
    </a>
    <div class="program">
        <!-- Program form -->
        <div class="program-content">
            <div class="form">
                <div class="formSize">
                    <div class="dx-field" style="display: flex">
                        <div class="dx-field-label">Program name</div>
                        <div class="dx-field-value">
                            <dx-text-box value="Peter" [width]="400">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Name is required">
                                    </dxi-validation-rule>
                                    <dxi-validation-rule type="pattern" [pattern]="namePattern"
                                        message="Do not use digits in the Name"></dxi-validation-rule>
                                    <dxi-validation-rule type="stringLength" [min]="2"
                                        message="Name must have at least 2 symbols">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Program type</div>
                        <div class="dx-field-value">
                            <dx-select-box [dataSource]="simpleProducts" [width]="200">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Program type is required">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>
                    <div>
                        <div class="dx-field" style="display: flex">
                            <div class="dx-field-label">About this program</div>
                            <dx-text-area class="dx-field-value" [height]="90" [(value)]="valueForEditableTextArea"
                                placeholder="A summary or description of the program" [valueChangeEvent]="eventValue"
                                [width]="400" [height]="100">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="About this program is required">
                                    </dxi-validation-rule>

                                    <dxi-validation-rule type="stringLength" [min]="2"
                                        message="Name must have at least 2 symbols">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-text-area>
                            <br />
                        </div>
                    </div>

                    <div class="dx-field" style="display: flex">
                        <div class="dx-field-label">Organization name</div>
                        <div class="dx-field-value">
                            <dx-select-box [dataSource]="simpleProducts" [width]="400" placeholder="Bob'a Summer Camp">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Program type is required">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>

                    <div class="dx-field" style="display: flex">
                        <div class="dx-field-label">Website</div>
                        <dx-text-box value="" [width]="400" placeholder="Enter in the URL to this program">
                            <dx-validator>
                                <dxi-validation-rule type="required" message="Enter in the URL to this program">
                                </dxi-validation-rule>

                                <dxi-validation-rule type="stringLength" [min]="2"
                                    message="Name must have at least 2 symbols">
                                </dxi-validation-rule>
                            </dx-validator>
                        </dx-text-box>
                    </div>

                    <div class="dx-field" style="display: flex">
                        <div class="dx-field-label">Program level</div>
                        <div class="dx-field-value">
                            <dx-select-box [dataSource]="simpleProducts" [width]="200" placeholder="Select level">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Program type is required">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Default mode</div>
                        <div class="dx-field-value">
                            <dx-range-slider [min]="0" [max]="100" [start]="20" [end]="60" [width]="200">
                            </dx-range-slider>
                        </div>
                    </div>
                    <div class="dx-field" style="display: flex">
                        <div class="dx-field-label">Carrer pathway</div>
                        <div class="dx-field-value">
                            <dx-select-box [items]="simpleProducts" [width]="200"></dx-select-box>
                        </div>
                    </div>
                    <div class="dx-field" style="display: flex">
                        <div class="dx-field-label">Program length</div>
                        <div class="dx-field-value" style="display: flex">
                            <dx-text-box mask="" [width]="100" placeholder="1"></dx-text-box>
                            <div class="divider"></div>
                            <dx-select-box placeholder="Week" [showClearButton]="true" [width]="100">
                            </dx-select-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Learning methods</div>
                        <dx-radio-group [items]="priorities" [value]="priorities[0]" layout="horizontal">
                        </dx-radio-group>

                        <div class="dx-field">
                            <div class="dx-field-label"></div>
                            <div class="dx-field-value">
                                <dx-text-box placeholder="Streets address" [width]="300"></dx-text-box>
                            </div>

                            <div class="dx-field-value" style="display: flex; margin-top: 12px">
                                <dx-text-box placeholder="City" [width]="150"></dx-text-box>
                                <div class="divider"></div>
                                <dx-text-box placeholder="State" [width]="100"></dx-text-box>
                                <div class="divider"></div>
                                <dx-text-box placeholder="Zip code" [width]="100"></dx-text-box>
                            </div>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Add skill</div>
                        <div class="skill-field-value">
                            <dx-text-box></dx-text-box>
                            <div class="divider"></div>
                            <dx-select-box> </dx-select-box>
                            <div class="divider"></div>
                            <dx-button icon="help" style="margin-right:10px">
                            </dx-button>
                            <dx-button stylingMode="contained" text="Cancel" type="success" [width]="200"
                                style="margin-right:115px" (onClick)="click($event)">
                            </dx-button>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Name</div>
                        <div class="dx-field-value">
                            <dx-text-box value="Peter" width="430px" [width]="300">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Name is required">
                                    </dxi-validation-rule>
                                    <dxi-validation-rule type="pattern" [pattern]="namePattern"
                                        message="Do not use digits in the Name">
                                    </dxi-validation-rule>
                                    <dxi-validation-rule type="stringLength" [min]="2"
                                        message="Name must have at least 2 symbols">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                </div>
                <div class="program-offering">
                    <h3>Program Offering</h3>
                    <hr>
                    <!-- <i class="fas fa-plus"></i> -->
                    <dx-button icon="add" class="button-info" text="Add offering button" style="margin-top: 30px;"
                        (onClick)="showAddOffering($event)">
                    </dx-button>
                </div>
            </div>
            <div class=" button-handle">
                <div style="float: left">
                    <dx-button stylingMode="contained" text="Cancel" type="normal" [width]="120"
                        (onClick)="click($event)">
                    </dx-button>
                </div>

                <div style="float: right">
                    <dx-button stylingMode="contained" text="Preview" type="normal" [width]="120"
                        (onClick)="click($event)">
                    </dx-button>
                    <div class="divider"></div>
                    <dx-button stylingMode="contained" text="Save for later" type="normal" [width]="120"
                        (onClick)="click($event)">
                    </dx-button>
                    <div class="divider"></div>
                    <dx-button stylingMode="contained" text="Published" type="success" [width]="120"
                        (onClick)="click($event)">
                    </dx-button>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- Offering popup -->
<dx-popup [width]="600" [height]="700" [showTitle]="true" title="Add program Offering" [dragEnabled]="true"
    [closeOnOutsideClick]="false" [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="dx-field">
            <div class="dx-field-label">Learning methods</div>
            <div class="dx-field-value">
                <dx-radio-group [items]="priorities" [value]="priorities[0]" layout="horizontal">
                </dx-radio-group>
            </div>
        </div>
        <div class="dx-fieldset">
            <div class="dx-field">
                <div class="dx-field-label"></div>
                <div class="dx-field-value">
                    <dx-text-box placeholder="Streets address"></dx-text-box>
                </div>
                <div class="dx-field-value" style="margin-top: 12px">
                    <dx-text-box placeholder="City"></dx-text-box>
                </div>
                <div class="dx-field-value" style="display: flex; margin-top: 12px">
                    <dx-text-box placeholder="State"></dx-text-box>
                    <div class="divider"></div>
                    <dx-text-box placeholder="Zip code"></dx-text-box>
                </div>
            </div>
            <div class="dx-field" style="display: flex">
                <div class="dx-field-label">Cost</div>
                <div class="dx-field-value" style="display: flex">
                    <dx-number-box [value]="0" [format]="formatMoney" [readOnly]="false">
                    </dx-number-box>

                    <div class="divider"></div>
                    <dx-select-box placeholder="One time" [showClearButton]="true">
                    </dx-select-box>
                </div>
            </div>
            <div class="dx-field" style="display: flex; margin-top: 20px">
                <div class="dx-field-label" [style.margin-top]="'4%'">Program date</div>
                <div class="dx-field-value d-flex">
                    <div class="dx-field-value">
                        <span>Start date</span>
                        <dx-date-box [displayFormat]="formatDatetime" [placeholder]="'DD/MM/YY'" [value]="now"
                            type="date"> </dx-date-box>
                    </div>
                    <div class="divider"></div>
                    <div class="dx-field-value">
                        <span>End date</span>
                        <dx-date-box [displayFormat]="formatDatetime" [placeholder]="'DD/MM/YY'" [value]="now"
                            type="date"> </dx-date-box>
                    </div>
                </div>
            </div>
            <div class="dx-field" style="display: flex; margin-top: 20px">
                <div class="dx-field-label"></div>
                <div class="dx-field-value d-flex">
                    <div class="dx-field-value">
                        <span>Start date</span>
                        <dx-date-box [displayFormat]="formatTime" [value]="now" type="time"> </dx-date-box>
                    </div>
                    <div class="divider"></div>
                    <div class="dx-field-value">
                        <span>End date</span>
                        <dx-date-box [displayFormat]="formatTime" [value]="now" type="time"> </dx-date-box>
                    </div>
                </div>
            </div>
            <div class="dx-field" style="display: flex; margin-top: 20px">
                <div class="dx-field-label"></div>
                <div class="dx-field-value">
                    <span>Days:</span>
                    <div class="mt-2  d-flex justify-content-between">

                        <dx-check-box [value]="false" [text]="'M'"></dx-check-box>

                        <dx-check-box [value]="false" [text]="'T'"></dx-check-box>

                        <dx-check-box [value]="false" [text]="'W'"></dx-check-box>

                        <dx-check-box [value]="false" [text]="'Th'"></dx-check-box>

                        <dx-check-box [value]="false" [text]="'F'"></dx-check-box>

                        <dx-check-box [value]="false" [text]="'Sa'"></dx-check-box>

                        <dx-check-box [value]="false" [text]="'Su'"></dx-check-box>
                    </div>
                </div>
            </div>
            <div class="dx-field" [style.margin-top]="'25px'">
                <div class="dx-field-label">Enrollment deadline</div>
                <div class="dx-field-value">
                    <dx-date-box [displayFormat]="formatDatetime" [placeholder]="'DD/MM/YY'" [value]="now" type="date">
                    </dx-date-box>
                </div>
                <div class="dx-field-value"></div>
            </div>
            <div class="buttons-column" style="margin-top: 20px">
                <dx-button stylingMode="contained" text="Cancel" type="normal" [width]="120" (onClick)="click($event)">
                </dx-button>
                <div class="divider"></div>
                <dx-button stylingMode="contained" text="Add" type="success" [width]="120" (onClick)="click($event)">
                </dx-button>
            </div>
        </div>
    </div>
</dx-popup>