.detail {
  margin-top: 30px;
}
.program {
  width: 100%;
}
.options {
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 260px;
  top: 0;
  background-color: rgba(191, 191, 191, 0.15);
}
.divider {
  width: 17px;
  height: auto;
  display: inline-block;
}
.form {
  border: 1px solid #c4c4c4;
  padding: 15px 25px 15px 25px;
  height: 110vh;
  /* padding: 30px 30px 35px 20px; */
}

.program-content {
  width: 60%;
  margin: 0 20% 200px 20%;
}
.dx-field {
  margin-top: 12px;
}
.formSize {
  width: 800px;
  height: auto;
  margin-left: 15px;
}

.button-handle {
  margin-top: 25px;
}
.buttons-column {
  /* width: 70%; */
  float: right;
}
.skill {
  margin-top: 50px;
  margin-left: 15px;
}
.skill-field-value {
  display: flex;
}

.program-offering {
  margin-top: 100px;
}
