<div class="program">
    <!-- Program form -->
    <div class="form">
        <div class="dx-field" style="display: flex;">
            <div class="dx-field-label">Program name</div>
            <div class="dx-field-value">
                <dx-text-box value="Peter">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="Name is required"></dxi-validation-rule>
                        <dxi-validation-rule type="pattern" [pattern]="namePattern"
                            message="Do not use digits in the Name"></dxi-validation-rule>
                        <dxi-validation-rule type="stringLength" [min]="2" message="Name must have at least 2 symbols">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
        </div>
        <div class="dx-field" style="display: flex;">
            <div class="dx-field-label">Program type</div>
            <div class="dx-field-value">
                <dx-select-box [items]="simpleProducts"></dx-select-box>
            </div>
        </div>
        <div>
            <div class="dx-field" style="display: flex;">
                <div class="dx-field-label">About this program</div>
                <dx-text-area class="dx-field-value" [height]="90" [(value)]="valueForEditableTextArea"
                    [valueChangeEvent]="eventValue">
                </dx-text-area>
                <br>
            </div>
        </div>
        <div class="dx-field" style="display: flex;">
            <div class="dx-field-label">Organization name</div>
            <div class="dx-field-value">
                <dx-select-box [items]="simpleProducts"></dx-select-box>
            </div>
        </div>
        <div class="dx-field" style="display: flex; ">
            <div class="dx-field-label">Website</div>
            <div class="dx-field-value">
                <dx-text-box value="John Smith"></dx-text-box>
            </div>
        </div>
        <div class="dx-field" style="display: flex;">
            <div class="dx-field-label">Program level</div>
            <div class="dx-field-value">
                <dx-select-box [items]="simpleProducts"></dx-select-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Default mode</div>
            <div class="dx-field-value">
                <dx-range-slider [min]="0" [max]="100" [start]="20" [end]="60"></dx-range-slider>
            </div>
        </div>
        <div class="dx-field" style="display: flex;">
            <div class="dx-field-label">Carrer pathway</div>
            <div class="dx-field-value">
                <dx-select-box [items]="simpleProducts"></dx-select-box>
            </div>
        </div>
        <div class="dx-field" style="display: flex">
            <div class="dx-field-label">Program length</div>
            <div class="dx-field-value" style="display: flex">
                <dx-text-box mask=""></dx-text-box>
                <div class="divider"></div>
                <dx-select-box placeholder="Week" [showClearButton]="true">
                </dx-select-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Learning methods</div>
            <div class="dx-field-value">
                <dx-radio-group [items]="priorities" [value]="priorities[0]" layout="horizontal">
                </dx-radio-group>
            </div>

            <div class="dx-field">
                <div class="dx-field-label"></div>
                <div class="dx-field-value">
                    <dx-text-box placeholder="Streets address"></dx-text-box>
                </div>

                <div class="dx-field-value" style="display: flex; margin-top: 12px;">
                    <dx-text-box placeholder="City"></dx-text-box>
                    <div class="divider"></div>
                    <dx-text-box placeholder="State"></dx-text-box>
                    <div class="divider"></div>
                    <dx-text-box placeholder="Zip code"></dx-text-box>
                </div>
            </div>
        </div>
        <div class="dx-field" style="margin-top:20px">
            <div class="dx-field-label">Add skill</div>
            <div class="dx-field-value" style="display: flex">
                <dx-text-box mask=""></dx-text-box>
                <div class="divider"></div>
                <dx-select-box mask="Week" [showClearButton]="true">
                </dx-select-box>
                <div class="divider"></div>

                <dx-button stylingMode="contained" text="Cancel" type="success" [width]="120" (onClick)="click($event)">
                </dx-button>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Name</div>
            <div class="dx-field-value">
                <dx-text-box value="Peter">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="Name is required"></dxi-validation-rule>
                        <dxi-validation-rule type="pattern" [pattern]="namePattern"
                            message="Do not use digits in the Name"></dxi-validation-rule>
                        <dxi-validation-rule type="stringLength" [min]="2" message="Name must have at least 2 symbols">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
            <h1>Add Offering</h1>
            <i class="far fa-map-marker-question"></i>
            <dx-button icon="add" class="button-info" text="Add offering button" (onClick)="showAddOffering($event)">
            </dx-button>
        </div>

        <div class="buttons-column" style="margin: 20px 20px 20px 20px">
            <div style="float: left;">
                <dx-button stylingMode="contained" text="Cancel" type="normal" [width]="120" (onClick)="click($event)">
                </dx-button>
            </div>

            <div style="float: right;">
                <dx-button stylingMode="contained" text="Preview" type="normal" [width]="120" (onClick)="click($event)">
                </dx-button>
                <div class="divider"></div>
                <dx-button stylingMode="contained" text="Save for later" type="normal" [width]="120"
                    (onClick)="click($event)">
                </dx-button>
                <div class="divider"></div>
                <dx-button stylingMode="contained" text="Published" type="success" [width]="120"
                    (onClick)="click($event)">
                </dx-button>
            </div>

        </div>
    </div>
</div>

<!-- Offering popup -->
<dx-popup [width]="500" [height]="700" [showTitle]="true" title="Add program Offering" [dragEnabled]="true"
    [closeOnOutsideClick]="true" [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="dx-field">
            <div class="dx-field-label">Learning methods</div>
            <div class="dx-field-value">
                <dx-radio-group [items]="priorities" [value]="priorities[0]" layout="horizontal">
                </dx-radio-group>
            </div>
        </div>
        <div class=dx-fieldset>
            <div class="dx-field">
                <div class="dx-field-label"></div>
                <div class="dx-field-value">
                    <dx-text-box placeholder="Streets address"></dx-text-box>
                </div>
                <div class="dx-field-value" style="margin-top: 12px;">
                    <dx-text-box placeholder="City"></dx-text-box>
                </div>
                <div class="dx-field-value" style="display: flex; margin-top: 12px;">
                    <dx-text-box placeholder="State"></dx-text-box>
                    <div class="divider"></div>
                    <dx-text-box placeholder="Zip code"></dx-text-box>
                </div>
            </div>
            <div class="dx-field" style="display: flex">
                <div class="dx-field-label">Cost</div>
                <div class="dx-field-value" style="display: flex">
                    <dx-text-box mask="$"></dx-text-box>
                    <div class="divider"></div>
                    <dx-select-box placeholder="Choose Product" [showClearButton]="true">
                    </dx-select-box>

                </div>
            </div>
            <div class="dx-field" style="display: flex; margin-top: 20px;">
                <div class="dx-field-label">Program date</div>
                <div class="dx-field-value">
                    <span>Start date</span>
                    <dx-date-box [value]="now" type="date"> </dx-date-box>
                </div>
                <div class="divider"></div>
                <div class="dx-field-value">
                    <span>Start date</span>
                    <dx-date-box [value]="now" type="date"> </dx-date-box>
                </div>
                <br>
            </div>
            <div class="dx-field" style="display: flex">
                <div class="dx-field-label"></div>
                <div class="dx-field-value">
                    <span>Start time</span>
                    <dx-date-box type="time" [showClearButton]="true"> </dx-date-box>
                </div>
                <div class="divider"></div>
                <div class="dx-field-value">
                    <span>End time</span>
                    <dx-date-box type="time" [showClearButton]="true"> </dx-date-box>
                </div>
            </div>
            <span>Days:</span>
            <div class="dx-field" style="float: right; margin-top: 50px;">
                <!-- <div class="dx-field-label"></div> -->

                <dx-check-box [value]="false"></dx-check-box>
                <div class="divider"> M </div>

                <dx-check-box [value]="false"></dx-check-box>
                <div class="divider"> T </div>

                <dx-check-box [value]="false"></dx-check-box>
                <div class="divider"> W </div>

                <dx-check-box [value]="false"></dx-check-box>
                <div class="divider"> Th </div>

                <dx-check-box [value]="false"></dx-check-box>
                <div class="divider"> F </div>

                <dx-check-box [value]="false"></dx-check-box>
                <div class="divider"> Sa </div>

                <dx-check-box [value]="false"></dx-check-box>
                <div class="divider"> Su </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Enrollment deadline </div>
                <div class="dx-field-value">
                    <dx-date-box [value]="now" type="date"> </dx-date-box>
                </div>
                <div class="dx-field-value">
                </div>
            </div>
            <div class="buttons-column" style="margin-top: 20px;">
                <dx-button stylingMode="contained" text="Cancel" type="normal" [width]="120" (onClick)="click($event)">
                </dx-button>
                <div class="divider"></div>
                <dx-button stylingMode="contained" text="Add" type="success" [width]="120" (onClick)="click($event)">
                </dx-button>
            </div>
        </div>
    </div>
</dx-popup>