.options {
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 260px;
  top: 0;
  background-color: rgba(191, 191, 191, 0.15);
}
.divider {
  width: 17px;
  height: auto;
  display: inline-block;
}
.form {
  border-style: groove;
  margin: auto;
  width: 800px;
  height: 900px;
  padding: 30px 30px 35px 20px;
}
.dx-field {
  margin-top: 12px;
}
