:root {
  --WIDTH_TEXTBOX: 50;
}

.dx-popup-content p {
  margin-bottom: 10px;
  margin-top: 0;
}
.buttons-column {
  width: 150px;
  justify-content: center;
  display: flex;
  text-align: center;
  margin-left: 300px;
}
.divider {
  width: 20px;
  height: auto;
  display: inline-block;
  margin-left: 5px;
}

.dx-field {
  margin-top: 12px;
}
