<div class="content">
    <div class="menu">
        <p>Programs</p>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="d-flex justify-content-between collapse navbar-collapse" id="navbarSupportedContent">
                <!-- <ul class="navbar-nav mr-auto">
                    <ul class="nav-item active">
                        <span>Active()</span>
                    </ul>
                    <div class="divider"></div>
                    <ul class="nav-item">
                        <span>Inactive()</span>
                    </ul>
                    <div class="divider"></div>
                    <ul class="nav-item">
                        <span>Unpublish()</span>
                    </ul>
                    <div class="dividers"></div>
                </ul> -->
                <div id="tab" style="float:left;">
                    <dx-tabs #apiTabs [dataSource]="active" [selectedIndex]="0" [width]="400"></dx-tabs>
                </div>
                <dx-button stylingMode="contained" text="Add New" (onClick)="navigateToAddNew($event)" type="success"
                    icon="add" [width]="150">
                </dx-button>
            </div>
        </nav>

    </div>
    <div class="selection">
        <div class="dx-field">
            <div class="dx-field-value">
                <dx-select-box placeholder="Action on () select" width="200px" [items]="actionOnSelect"
                    [(value)]="actionSelected" [displayExpr]="'name'" (onSelectionChanged)="onActionChanged($event)">
                </dx-select-box>
            </div>
        </div>
        <div class="list-container" style=" margin-left: 150px;">
            <dx-list #list [searchEnabled]="true" [dataSource]="program">
            </dx-list>
        </div>
        <div class="fillter">
            <div class="dx-field" style="margin-top: 7px;">Fillter by</div>
            <div class="divider"></div>
            <div class="dx-field">
                <dx-select-box width="200px" [items]="fillterOnselect" [(value)]="fillterBySelect"
                    placeholder="All organizations" [displayExpr]="'name'" (onSelectionChanged)="onFillterBy($event)">
                </dx-select-box>
            </div>
        </div>

    </div>

    <div class="table">
        <dx-data-grid id="gridContainer" [dataSource]="gridSource" [allowColumnReordering]="true"
            [rowAlternationEnabled]="true" [showBorders]="true" (onContentReady)="contentReady($event)">
            <dxo-remote-operations [sorting]="true" [filtering]="true" [paging]="true">
            </dxo-remote-operations>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-paging [pageSize]="pageSize"></dxo-paging>
            <!-- <dxo-pager [showNavigationButtons]="true" [showPageSizeSelector]="true" [allowedPageSizes]="allowPageSizes">
            </dxo-pager> -->
            <dxo-filter-row [visible]="true" [showOperationChooser]="true" [applyFilter]="'auto'">></dxo-filter-row>
            <dxo-header-filter [visible]="false"></dxo-header-filter>
            <dxi-column dataField="name" caption="Name"></dxi-column>
            <dxi-column dataField="offering" caption="Offering"></dxi-column>
            <dxi-column dataField="publishedBy" dataType="string" caption="Published By"></dxi-column>
            <dxi-column dataField="views" dataType="string" caption="Views"></dxi-column>
            <dxi-column dataField="action" dataType="string" caption="Action"></dxi-column>
        </dx-data-grid>
    </div>
</div>