ul {
  float: left;
}
ul a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 100px;
}
.divider {
  width: 17px;
  height: auto;
  display: inline-block;
}
.content {
  padding-bottom: 200px;
}
.divider {
  width: 200px;
  height: auto;
  display: inline-block;
  margin-left: 5px;
}
.a:hover.nav-link {
  border-bottom: 1px;
  text-decoration: underline;
}
.nav-link {
  font-weight: bold;
}
.navbar {
  border-bottom: groove;
}
