<footer class="footer bg-gray text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <section class="mb-4">
            <!-- <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">Home</a> -->
            <a class="btn btn-floating m-1" href="#!" role="button">Home</a>

            <a class="btn btn-floating m-1" href="#!" role="button">About</a>

            <a class="btn btn-floating m-1" href="#!" role="button">FAQ</a>

            <a class="btn btn-floating m-1" href="#!" role="button">Terms and Conditions</a>

            <a class="btn btn-floating m-1" href="#!" role="button">Contact</a>
        </section>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: gray;">
        © 2021 Exprerience Registry.com

    </div>
    <!-- Copyright -->
</footer>